@import "../common/index.css";
@import "./variables.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext");

smoothly-input-date-range {
	--background: rgb(var(--smoothly-dark-shade));
	--border-radius: 4px;
	--padding: 0 0.75em;
	--input-width: 8rem;
}
smoothly-app h1 {
	font-size: 1.4em;
	font-weight: 400;
}
