@import "../common/index.css";
@import "../dark/typography.css";
:root {
	--smoothly-font-family: "Gellix", "Open Sans",Arial, sans-serif;

	--smoothly-semitransparent: .8;

	--smoothly-default-color: 255, 255, 255; 
	--smoothly-default-contrast: 0, 0, 0; 
	--smoothly-default-shade: 243, 244, 245;
	--smoothly-default-tint: 254, 226, 190; 

	--smoothly-primary-color: 17, 17, 17;
	--smoothly-primary-contrast: 255, 255, 255;
	--smoothly-primary-shade: 69, 90, 162;
	--smoothly-primary-tint: 122, 140, 198; 

	--smoothly-secondary-color: 175, 175, 185;
	--smoothly-secondary-contrast: 0, 0, 0; 
	--smoothly-secondary-shade: 117, 117, 127; 
	--smoothly-secondary-tint: 243, 244, 245;  

	--smoothly-tertiary-color: 52, 101, 164; 
	--smoothly-tertiary-contrast: 238, 238, 236;
	--smoothly-tertiary-shade: 32, 74, 135;
	--smoothly-tertiary-tint: 114, 159, 207;

	--smoothly-medium-color:  117, 117, 127;  
	--smoothly-medium-contrast: 255, 255, 255; 
	--smoothly-medium-shade: 0, 0, 0; 
	--smoothly-medium-tint: 150, 150, 150;

	--smoothly-success-color: 0, 166, 115;
	--smoothly-success-contrast: 238, 238, 236;
	--smoothly-success-shade: 76, 110, 47;
	--smoothly-success-tint: 118, 186, 68;

	--smoothly-warning-color: 247, 158, 27;
	--smoothly-warning-contrast: 17,21, 0;
	--smoothly-warning-shade: 212, 129, 7;
	--smoothly-warning-tint: 250, 186, 93;

	--smoothly-danger-color: 235, 89, 56; 
	--smoothly-danger-contrast: 242, 242, 242;
	--smoothly-danger-shade: 164, 00, 00;
	--smoothly-danger-tint: 239, 41, 41;

	--smoothly-dark-color: 214, 214, 218;
	--smoothly-dark-contrast: 0, 0, 0; 
	--smoothly-dark-shade: 178, 178, 185;
	--smoothly-dark-tint: 243, 244, 245;
	
	--smoothly-light-shade: 62, 60, 57;
	--smoothly-light-contrast: 255, 255, 255;
	--smoothly-light-color: 17, 17, 17;
	--smoothly-light-tint: 138, 136, 133;

	--smoothly-shadow: 0 0 4px 2px rgba(var(--smoothly-light-color), 0.25);
	--smoothly-shadow-strong: 0 0 4px 4px rgba(var(--smoothly-light-color), 0.25);
}
smoothly-app > header > h1 > a,
smoothly-app > smoothly-notifier > header > h1 > a {
	color: transparent;
	width: 5em;
	height: 1.6em;
	margin: 0.75em;
	background-image: url("./intergiro.svg");
	background-repeat: no-repeat;
	background-size: contain;
}
