@import "../common/index.css";
@import "../dark/typography.css";
@import "./variables.css";
body {
	margin: 0;
	padding: 0;
}
smoothly-app > header > h1 > a,
smoothly-app > smoothly-notifier > header > h1 > a {
	color: transparent;
	width: 2.25rem;
	height: 2.25rem;
	margin: 0.75em;
	background-image: url("./intergiro.svg");
	background-repeat: no-repeat;
	background-size: 2.25rem;
}

smoothly-input-date-range {
	--background: rgb(var(--smoothly-dark-shade));
	--border-radius: 4px;
	--padding: 0 0.75em;
	--input-width: 6rem;
}
