@import "../common/index.css";
@import "./typography.css";

:root {
	--smoothly-semitransparent: .8;

	--smoothly-default-color: 85, 87, 83;
	--smoothly-default-contrast: 238, 238, 238;
	--smoothly-default-shade: 30, 30, 30;
	--smoothly-default-tint: 85, 87, 83;

	--smoothly-primary-color: 204, 0, 0;
	--smoothly-primary-contrast: 238, 238, 238;
	--smoothly-primary-shade: 164, 00, 00;
	--smoothly-primary-tint: 239, 41, 41;

	--smoothly-secondary-color: 46, 52, 53;
	--smoothly-secondary-contrast: 238, 238, 238;
	--smoothly-secondary-shade: 0, 0, 0;
	--smoothly-secondary-tint: 85, 87, 83;

	--smoothly-tertiary-color: 52, 101, 164;
	--smoothly-tertiary-contrast: 238, 238, 238;
	--smoothly-tertiary-shade: 32, 74, 135;
	--smoothly-tertiary-tint: 114, 159, 207;
	
	--smoothly-success-color: 117,189,52;
	--smoothly-success-contrast: 42,53,40;
	--smoothly-success-shade: 76, 110, 47;
	--smoothly-success-tint: 118, 118, 68;

	--smoothly-warning-color: 237, 212, 0;
	--smoothly-warning-contrast: 46, 52, 54;
	--smoothly-warning-shade: 196, 160, 0;
	--smoothly-warning-tint: 252, 233, 79;

	--smoothly-danger-color: 204, 0, 0;
	--smoothly-danger-contrast: 238, 238, 238;
	--smoothly-danger-shade: 164, 00, 00;
	--smoothly-danger-tint: 239, 41, 41;

	--smoothly-light-color: 211, 215, 207;
	--smoothly-light-contrast: 46, 52, 54;
	--smoothly-light-shade: 186, 189, 182;
	--smoothly-light-tint: 238, 238, 236;

	--smoothly-medium-color: 186, 189, 182;
	--smoothly-medium-contrast: 46, 52, 54;
	--smoothly-medium-shade: 136, 138, 133;
	--smoothly-medium-tint: 211, 215, 207;

	--smoothly-dark-color: 85, 87, 83;
	--smoothly-dark-contrast: 238, 238, 236;
	--smoothly-dark-shade: 46, 52, 54;
	--smoothly-dark-tint: 136, 138, 133;

	--smoothly-shadow: 0 0 4px 4px rgba(var(--smoothly-dark-shade), 0.15);
	--smoothly-shadow-strong: 0 0 4px 4px rgba(var((--smoothly-dark-shade), 0.25));
}
smoothly-app > header > h1 > a,
smoothly-app > smoothly-notifier > header > h1 > a {
	color: transparent;
	width: 10em;
	background-image: url("../intergiro/intergiro.svg");
	background-repeat: no-repeat;
	background-position-x: -.5em;
	background-size: contain;
}
/* DEPRECATED */
html > body > payfunc-portal > portal-login > header > h1 {
	display: none;
}
html > body > payfunc-portal > portal-login > header,
html > body > payfunc-portal > portal-login > smoothly-dialog > main > header {
	background-image: url("./payfunc-d1.svg");
	background-repeat: no-repeat;
	background-position-x: -.5em;
	background-size: contain;
}
